.user-auth-formselection {
}

.selection-btns {
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  padding: 1%;
}

.user-auth-fields {
  margin: auto;
  text-align: center;
  display: block;
}

.selection-btn {
  padding: 3%;
  border-radius: 15px;
  outline: none;
}

.form-input {
  padding: 1%;
  border-radius: 20px;
  margin-left: 30px;
  margin-bottom: 15px;
}

.submit-btn {
  display: grid;
  justify-items: center;
}

.submit-btn__gre {
  width: 100px;
  padding: 1%;
  border-radius: 12px;
  outline: none;
}
